p{
    color: white;
}
img{
    width: 350px;
}

.logoGame{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
   
}
.logoGame img{
    width: 250px;
    margin-top:50px; 
    scale: 130%
}
p{
    font-size: large;
}

#version{
    padding: 0 15px;
}
#about{
    text-indent: 2em;
    padding: 0 360px 0 15px;
    margin-bottom: 35px;
}

.gameInformation{
    width: 600px;
    padding-left: 50px;
    margin-bottom: 35px;
}

#header{
    text-indent: -1em;
}

.gameLogs{
    width: 400px;

    padding-left: 50px;
    margin-bottom: 35px;
}

.Info{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.infoZone{
    justify-content: center;
}
.infoZone .Play_demo{
    display: flex;
    justify-content: center;
}
.pictureZone{
    justify-content: end;
}
.pictureZone img{
    margin-bottom: 15px;
}
.downloadZone{
    padding-left: 50px;
    margin-bottom: 35px;
}
.downloadGame{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.downloadGame button{
    margin-right: 10px;
}
.Play_demo #play_btn{
    margin-bottom: 35px;
}
#play_btn{
    padding: 10px 12px;
    background-color: green;
    border-radius: 6px;
    text-align: center;
}
#play_btn:hover{
    padding: 10px 12px;
    background-color: blue;
    border-radius: 6px;
    cursor: pointer;
}
#Commu_header{
    margin-bottom: 35px;
    padding-left: 50px;
    text-indent: -1em;
}

p{
    color: white;
}
img{
    width: 350px;
}
.logoGame{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    
}
.logoGame img{
    width: 250px;
    scale: 130%;
}
p{
    font-size: large;
}

#version{
    padding: 0 15px;
}
#about{
    text-indent: 2em;
    padding: 0 360px 0 15px;
    margin-bottom: 35px;
}



#header{
    text-indent: -1em;
}



.Info{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.infoZone{
    justify-content: center;
}
.infoZone .Play_demo{
    display: flex;
    justify-content: center;
}
.pictureZone{
    justify-content: end;
}
.pictureZone img{
    margin-bottom: 15px;
}
.downloadZone{
    padding-left: 50px;
    margin-bottom: 35px;
}
.downloadGame{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.downloadGame button{
    margin-right: 10px;
}
.Play_demo #play_btn{
    margin-bottom: 35px;
}
#play_btn{
    padding: 10px 12px;
    background-color: green;
    border-radius: 6px;
    text-align: center;
}
#play_btn:hover{
    padding: 10px 12px;
    background-color: blue;
    border-radius: 6px;
    cursor: pointer;
}
#Commu_header{
    margin-bottom: 35px;
    padding-left: 50px;
    text-indent: -1em;
}
.shophee{
    background: rgba(0, 0, 0, 0.70);
}