@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
[G]{
    background-color: rgb(255, 255, 255);
}
[C]{
    background-color: rgba(252, 252, 252, 0.948);
}
.D{
background-color: rgba(212, 255, 215, 0.845);
}
